[submodule "docroot/resources"]
	path = docroot/resources
	url = https://github.com/holychatter/holychatter-resources.git
[submodule "frontend-public"]
	path = docroot/public
	url = https://holychatter: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@github.com/holychatter/frontend-public.git
