:root {
  --hc-var-right-space: 20px;
  --hc-breadcrumb-height: 100px;
  --hc-title-height: 55px;
  --hc-folder-menu-width: 270px;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

h1 {
  font-family: Droid Serif;
  font-weight: bold;
  text-align: center;
  color: red;
  font-size: 25px;
  text-overflow: clip;
  overflow: hidden;
  white-space: nowrap;
}

.breadcrumb {
  padding-top: 10px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  list-style: none;
  border-radius: 4px;
  max-height: 100%;
  text-overflow: clip;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
}

.breadcrumb > li {
  display: inline-block;
}

.breadcrumb > li + li:before {
  padding: 0 5px;
  color: #ccc;
  content: ">";
}

.breadcrumb > .active {
  color: #999;
}

.hc-header {
  position: fixed;
  top: 0;
  height: 65px;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #cccccc;
  box-sizing: border-box;
}

.hc-chat-content-wrapper {
  position: absolute;
  top: 65px;
  bottom: 68px;
  width: 100%;
  overflow: none;
}

.hc-chat-content-wrapper-mobile {
  position: absolute;
  top: 65px;
  bottom: 45px;
  width: 100%;
  overflow: none;
}

.hc-chat-content {
  overflow: auto;
  position: absolute;
  bottom: 0;
  max-height: 100%;
  width: 100%;
}

.hc-content-content-wrapper {
  position: absolute;
  top: 65px;
  left: 0px;
  bottom: 0px;
  width: 100%;
  overflow-y:auto;
  box-sizing: border-box;
}

.hc-content-content-folders {
  float: left;
  border-right: 1px solid #cccccc;
  bottom: 0px;
  width: var(--hc-folder-menu-width);
  height: 100%;
  max-height: 100%;
  overflow-y:auto;
  box-sizing: border-box;
}

.hc-content-content {
  border-left: 1px solid #cccccc;
  bottom: 0px;
  max-height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
}

.hc-content-breadcrumb-container {
  position: fixed;
  height: var(--hc-breadcrumb-height);
  left: var(--hc-folder-menu-width);
  right: 0px;
  text-align: center;
  box-sizing: border-box;
  border-bottom: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
}

.hc-content-breadcrumb-container-mobile {
  position: fixed;
  height: var(--hc-breadcrumb-height);
  left: 0px;
  right: 0px;
  text-align: center;
  box-sizing: border-box;
  border-bottom: 1px solid #cccccc;
}

.hc-content-content-sub-breadcrumb {
  position: absolute;
  top: var(--hc-breadcrumb-height);
  left: var(--hc-folder-menu-width);
  bottom: 0px;
  right: 0px;
  border-left: 1px solid #cccccc;
  max-height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
}

.hc-content-content-sub-breadcrumb-mobile {
  position: absolute;
  top: var(--hc-breadcrumb-height);
  left: 0px;
  bottom: 0px;
  right: 0px;
  max-height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
}


.hc-content-title-container {
  position: fixed;
  height: var(--hc-title-height);
  left: var(--hc-folder-menu-width);
  right: 0px;
  text-align: center;
  box-sizing: border-box;
  border-bottom: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
}

.hc-content-title-container-mobile {
  position: fixed;
  height: var(--hc-title-height);
  left: 0px;
  right: 0px;
  text-align: center;
  box-sizing: border-box;
  border-bottom: 1px solid #cccccc;
}

.hc-content-content-sub-title {
  position: absolute;
  top: var(--hc-title-height);
  left: var(--hc-folder-menu-width);
  bottom: 0px;
  right: 0px;
  border-left: 1px solid #cccccc;
  max-height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
}

.hc-content-content-sub-title-mobile {
  position: absolute;
  top: var(--hc-title-height);
  left: 0px;
  bottom: 0px;
  right: 0px;
  max-height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
}

.hc-viewer-content {
  position: absolute;
  top: 65px;
  bottom: 0px;
  width: 100%;
  overflow-y:auto;
  padding: 20px;
  box-sizing: border-box;
}

.hc-footer {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  top: auto;
  height: 68px;
}

.hc-footer-mobile {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  top: auto;
  height: 45px;
}

.hc-centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hc-onTopRight
{
  position: fixed;
  z-index: 3;
  top: 15px;
  right: var(--hc-var-right-space);
}

.hc-onTopRight-from-header
{
  margin-top: 15px;
  margin-right: var(--hc-var-right-space);
}

.hc-onTopRight-mobile
{
  position: absolute;
  z-index:1;
  top: 15px;
  right: 15px;
}

.hc-bold {
  font-weight: bold;
}

.hc-white-font {
  color: #ffffff;
}

.hc-link-font-from-bleue-background {
  color: #ffffff;
  text-decoration: underline;
}

.hc-logo-marie-jesus-box {
  background-image:url(/resources/holychatter/images/marie_jesus_withtriangle.png);
  background-position: left 20px bottom 0px;
  background-size: 80px 50px;
  background-repeat: no-repeat;
}

.hc-logo-human-box {
  background-image:url(/resources/holychatter/images/human_withtriangle.png);
  background-position: right 20px bottom 0px;
  background-size: 80px 50px;
  background-repeat: no-repeat;
}

.hc-logo-user-triangle-box {
  background-image:url(/resources/holychatter/images/triangleOfUserChatBubble.png);
  background-position: right 0px bottom 0px;
  background-size: 24px 50px;
  background-repeat: no-repeat;
}

.hc-logo-hc-triangle-box {
  background-image:url(/resources/holychatter/images/triangleOfHcChatBubble.png);
  background-position: left 0px bottom 0px;
  background-size: 24px 50px;
  background-repeat: no-repeat;
}

.hc-grey-box {
  background-color: #f7f7f7;
}

.hc-blue-box {
  background-color: #429fe2;
}

.hc-cursor-pointer {
  cursor: pointer;
}

.hc-cursor-default {
  cursor: default;
}

.hc-subtext {
  font-size: 14px;
}

.hc-answer-text {
  font-size: 15px;
}

.hc-tests-img-bkg {
  background-image: url("/resources/holychatter/icons/check_button.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px 12px;
}

.hc-settings-img-bkg {
  background-image: url("/resources/holychatter/icons/settings_button.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px 12px;
}

.hc-trash-img-bkg {
  background-image: url("/resources/holychatter/icons/trash_button.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px 12px;
}

.hc-move-img-bkg {
  background-image: url("/resources/holychatter/icons/move_button.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px 12px;
}

.hc-search-btn {
  background-image:url('/resources/holychatter/images/search.png');
  background-size: 28px 19px;
  background-repeat: no-repeat;
  background-position: center center;
}

.hc-send-btn {
  background-image:url('/resources/holychatter/images/send.png');
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center center;
}

.hc-padding {
  padding: 20px;
}
